firmware_datalogger_estudos/estudo_sampls_ppk2/consumos_10min_10ksamp.csv
firmware_datalogger_estudos/estudo_sampls_ppk2/estudos_base_reais/consumos_1ksamp_2h10_sd1h_lora_2h_pcb/consumos_PCB_2h10_1ksamp_sd_lora.csv
firmware_datalogger_estudos/estudo_sampls_ppk2/estudos_base_reais/consumos_1ksamp_2h10_sd1h_lora_2h_prototipo/consumos_1ksamp_2h10_sd1h_lora_2h_prototipo.csv
